/*What the hell man?*/
body {
      margin: 0;
    }

    ::-webkit-scrollbar {
      width: 5px;
    }


    ::-webkit-scrollbar-track {
      background: #ffffff;
    }


    ::-webkit-scrollbar-thumb {
      background: rgb(0, 0, 0);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgb(0, 0, 0);
    }

    .buton {

      border: none;

      padding: 2.5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 0px 0px;
      cursor: pointer;
    }

    input[type=text],
    select {
      padding: 2.5px 5px;
      margin: 0px 0;
      display: inline-block;


      border: 1px solid ;
      border-radius: 1px;
      box-sizing: border-box;
    }

    body {

      font-family: Arial
    }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 12.5%;

      position: fixed;
      height: 100%;
      overflow: auto;
    }

    .maincount {
      text-align: center;
      border-style: solid;
    border-radius: 0px;

      padding: 20px;

      width: auto;
      height: auto;
      margin-left: 13.5%;
      margin-right: 1%;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex: 4;
    }
    .maincount2 {
        border-style: solid;
        border-radius: 0px;

      padding: 20px;

      width: auto;
      height: auto;
      margin-left: 13.5%;
      margin-right: 1%;
    }
    .textlmao {
      font-size: 32px;
      font-size: 2vw;
    }
    .textlmao2 {
      width: 8vw;
    }
    .textlmao22 {
      width: 8vw;
    }
    .textlmao3 {
      width: 6vw;
    }

    li a {
      display: block;

      padding: 8px 16px;
      text-decoration: none;
    }
