       @font-face {
           font-family: Roboto;
           src: url(https://mixerno.space/fonts/Roboto-Regular.ttf);
       }

       body {
           background: rgb(41, 43, 44);
           font-family: Roboto;
           color: white;

       }

       .boxerino {
           background-color: rgb(32, 32, 32);

           
           border-color: rgba(0, 0, 0, 0.500);
           border: 0.5px solid rgba(0,0,0,.500);
           border-radius: .25rem;
           padding: 1vh;
           width: 49%;
       }
       ::-webkit-scrollbar {
        width: 1px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(32, 32, 32); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(36, 36, 36); 
      }

       .row {
           width: 75%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           flex: 4;
       }

       .row2 {
        width: 75%;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           flex: 4;
       }

       #disqus_thread {
           margin-left: 12.5%;
           margin-right: 12.5%;
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       .margin {
           margin-left: 12.5%;
           margin-right: 12.5%;
       }

       .justbox {
           padding: 1vh;
           font-size: 3vh;
           background-color: rgb(32, 32, 32);

           border-color: rgba(0, 0, 0, 0.500);
           border: 0.5px solid rgba(0,0,0,.500);
           border-radius: .25rem;
           width: 50%;
           height: 9vh;
       }

       .buttons {
           margin-left: 12.5%;
           margin-right: 12.5%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           flex: 4;
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       select,
       option,
       input,
       button {
           padding: 2vh;
           background-color: rgb(32, 32, 32);
           width: 49%;
           font-size: 2vh;
           color: white;
           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       .graphbox {
           padding: 1vh;
           font-size: 2vh;
           background-color: rgb(32, 32, 32);
           
           border-color: rgba(0, 0, 0, 0.500);
           border: 0.5px solid rgba(0,0,0,.500);
           border-radius: .25rem;
           width: 75%;
           height: auto;
       }

       #followerCount {
        font-size: calc(45px + 0.5vw) !important;
       }

       #nameuser {
        font-size: calc(32px + 0.5vw) !important;
       }

       #followerCount2 {
        font-size: calc(45px + 0.5vw) !important;
       }

       #nameuser2 {
        font-size: calc(32px + 0.5vw) !important;
       }
       #diffrence {
        font-size: calc(30px + 0.5vw) !important; 
       }

       #image,
       #image2 {
        outline: none !important;
        border-color: #ffffff !important;
        box-shadow: 0 0 2.5px #ffffff !important;
        height: calc(100px + 1.5vw) !important;
        width: calc(100px + 1.5vw) !important;
       }