       @font-face {
           font-family: Roboto;
           src: url(https://mixerno.space/fonts/Roboto-Regular.ttf);
       }

       body {
           background: rgb(41, 43, 44);
           font-family: Roboto;
           color: white;

       }

       .boxerino {
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
           padding: 1vh;
           width: 49%;
       }

       .row {
           margin-left: 12.5%;
           margin-right: 12.5%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           flex: 4;
       }

       .row2 {
        margin-left: 12.5%;
        margin-right: 12.5%;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           flex: 4;
       }

       #disqus_thread {
           margin-left: 12.5%;
           margin-right: 12.5%;
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       .margin {
           margin-left: 12.5%;
           margin-right: 12.5%;
       }

       .justbox {
           padding: 1vh;
           font-size: 3vh;
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
           width: 50%;
           height: 9vh;
       }

       .buttons {
           margin-left: 12.5%;
           margin-right: 12.5%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           flex: 4;
           background-color: rgb(32, 32, 32);

           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       select,
       option,
       input,
       button {
           padding: 2vh;
           background-color: rgb(32, 32, 32);
           width: 49%;
           font-size: 2vh;
           color: white;
           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
       }

       .graphbox {
           padding: 1vh;
           font-size: 2vh;
           background-color: rgb(32, 32, 32);
           border: solid 1px;
           border-color: rgb(36, 36, 36);
           outline: none;
           box-shadow: 0 0 2.5px rgb(32, 32, 32);
           width: 75%;
           height: auto;
       }

       #followerCount {
           font-size: 5vh;
       }

       #nameuser {
           font-size: 4vh;
       }

       #followerCount2 {
           font-size: 5vh;
       }

       #nameuser2 {
           font-size: 4vh;
       }

       #image,
       #image2 {

           outline: none;
           border-color: #ffffff;
           box-shadow: 0 0 2.5px #ffffff;
       }