/*PLS GUYS I NEEDED TO UPLOAD THIS 2 times. why github*/
/*



  ::-webkit-scrollbar-track {
    background: #ffffff;
  }


  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }

  .buton {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  input[type=text],
  select {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  body {
    background-color: rgb(99, 0, 0);
    color: rgb(255, 255, 255);
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: rgb(255, 255, 255);
  }

  a:focus {
    color: rgb(255, 255, 255);
  }

  a:active {
    color: white;
  }

  ul {
    background-color: #000000;
  }

  .maincount {
    border-color: rgb(255, 255, 255);
    background: rgb(37, 37, 37);

  }
  .backg {
    background: rgb(37, 37, 37);
    border-color: rgb(255, 255, 255);


  }

  li {
    color: rgb(255, 255, 255);
  }
  li a {
    color: #000;
  }

  li a.active {
    background-color: rgb(175, 76, 76);
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  PLS GUYS I NEEDED TO UPLOAD THIS 2 times. why github*/
:root {
  --firstcolor: rgb(99, 99, 99);
  --secondcolor: rgb(255, 255, 255);
  --thirdcolor: rgb(0, 0, 0);
  --fourthcolor: rgb(175, 175, 175);
  --fifthcolor: #555;
  --sixthcolor: rgb(37, 37, 37);
}




  ::-webkit-scrollbar-track {
    background: var(--secondcolor);
  }


  ::-webkit-scrollbar-thumb {
    background: var(--thirdcolor);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--thirdcolor);
  }

  .buton {
    background-color: var(--thirdcolor);
    color: var(--secondcolor);
  }

  input[type=text],
  select {
    color: var(--secondcolor);
    background-color: var(--thirdcolor);
    border: 1px solid var(--secondcolor);
  }

  body {
    background-color: var(--firstcolor);
    color: var(--secondcolor);
  }

  a:link {
    color: var(--secondcolor);
  }

  a:visited {
    color: var(--secondcolor);
  }

  a:hover {
    color: var(--secondcolor);
  }

  a:focus {
    color: var(--secondcolor);
  }

  a:active {
    color: var(--secondcolor);;
  }

  ul {
    background-color: var(--thirdcolor);
  }

  .maincount {
    border-color: var(--secondcolor);
    background: var(--sixthcolor);

  }
  .backg {
    background: var(--sixthcolor);
    border-color: var(--secondcolor);


  }

  li {
    color: var(--secondcolor);
  }
  li a {
    color: var(--thirdcolor);
  }

  li a.active {
    background-color: var(--fourthcolor);
    color: var(--secondcolor);
  }

  li a:hover:not(.active) {
    background-color: var(--fifthcolor);
    color: var(--secondcolor);
  }