/*PLS GUYS I NEEDED TO UPLOAD THIS 2 times. why github*/
:root {
  --firstcolor: rgb(0, 99, 0);
  --secondcolor: rgb(255, 255, 255);
  --thirdcolor: rgb(0, 0, 0);
  --fourthcolor: #4CAF50;
  --fifthcolor: #555;
  --sixthcolor: rgb(37, 37, 37);
}




  ::-webkit-scrollbar-track {
    background: var(--secondcolor);
  }


  ::-webkit-scrollbar-thumb {
    background: var(--thirdcolor);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--thirdcolor);
  }

  .buton {
    background-color: var(--thirdcolor);
    color: var(--secondcolor);
  }

  input[type=text],
  select {
    color: var(--secondcolor);
    background-color: var(--thirdcolor);
    border: 1px solid var(--secondcolor);
  }

  body {
    background-color: var(--firstcolor);
    color: var(--secondcolor);
  }

  a:link {
    color: var(--secondcolor);;
  }

  a:visited {
    color: var(--secondcolor);;
  }

  a:hover {
    color: var(--secondcolor);
  }

  a:focus {
    color: var(--secondcolor);
  }

  a:active {
    color: var(--secondcolor);;
  }

  ul {
    background-color: var(--thirdcolor);;
  }

  .maincount {
    border-color: var(--secondcolor);
    background: var(--sixthcolor);

  }
  .backg {
    background: var(--sixthcolor);
    border-color: var(--secondcolor);


  }

  li {
    color: var(--secondcolor);
  }
  li a {
    color: var(--thirdcolor);
  }

  li a.active {
    background-color: var(--fourthcolor);
    color: var(--secondcolor);
  }

  li a:hover:not(.active) {
    background-color: var(--fifthcolor);
    color: var(--secondcolor);
  }