/*PLS GUYS I NEEDED TO UPLOAD THIS 2 times. why github*/
:root {
  --firstcolor: white;
  --secondcolor: black;  
}



  ::-webkit-scrollbar-track {
    background: var(--secondcolor);
  }


  ::-webkit-scrollbar-thumb {
    background: var(--firstcolor);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--firstcolor);
  }

  .buton {
    background-color: var(--firstcolor);
    color: var(--secondcolor);
  }

  input[type=text],
  select {
    color: var(--secondcolor);
    background-color: var(--firstcolor);
    border: 1px solid var(--secondcolor);
  }

  body {
    background-color: var(--firstcolor);
    color: var(--secondcolor);
  }

  a:link {
    color: var(--firstcolor);
  }

  a:visited {
    color: var(--firstcolor);
  }

  a:hover {
    color: var(--firstcolor);
  }

  a:focus {
    color: var(--firstcolor);
  }

  a:active {
    color: var(--firstcolor);
  }

  ul {
    background-color: var(--secondcolor);
  }

  .maincount {
    border-color: var(--secondcolor);
    background: var(--firstcolor);

  }
  .backg {
    background: var(--firstcolor);
    border-color: var(--secondcolor);


  }

  li {
    color: var(--firstcolor);
  }
  li a {
    color: var(--firstcolor);
  }

  li a.active {
    background-color: var(--secondcolor);
    color: var(--firstcolor);
  }

  li a:hover:not(.active) {
    background-color: var(--secondcolor);
    color: var(--firstcolor);
  }